<div *ngIf="tutorials$">

  <div class="row mt-3">
    <div class="col-sm-6" *ngFor="let tutorial of tutorials$ | async">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ tutorial.name }}</h5>
          <p class="card-text">{{ tutorial.prof }}</p>
          <button (click)="delTutorial(tutorial.name)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>

<button class="btn btn-success mt-3" (click)="setUsersToStore()">Set Users From Api To Store</button>

