<input type="file" class="btn btn-primary" (change)="changeFile($event.target.files)" multiple name="" id="">

<div *ngIf="filesSelected?.length!=0">
  <div *ngFor="let file of filesSelected">
    <div [ngStyle]="{'color':file.valid?'green':'red'}">{{file.name}}</div>
  </div>
</div>

<br><br>

<button type="submit" class="btn btn-success" [disabled]="filesValidList?.length == 0" (click)="enviarArchivos()">Enviar archivos</button>

<div class="row">
  <div class="col-md-4 mb-3" *ngFor="let file of filesValidList">
    <app-item-files [file]="file"></app-item-files>
  </div>
</div>

